@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f6f6f6;
  font-family: 'Balsamiq Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  margin: 20px 30px;
}

.apps-title {
  font-size: 40px;
}

.container-score {
  margin: 30px;
  display: flex;
  gap: 50px;
}

.scores-list {
  min-width: 330px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scores-list-header {
  display: flex;
}

.recent-scores {
  margin-right: 20px;
}

.refresh-button {
  height: max-content;
  font-size: 0.8em;
  align-self: center;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.805);
  background: rgb(92, 235, 227);;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.2px;
}

.refresh-button:hover {
  background: rgb(235, 200, 111);
}

.refresh-button:active {
  background: rgb(235, 200, 111);
  box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.705);
  transform: translateY(4px);
}

.scores-list-data {
  border: 2px solid black;
}

.datas {
  padding-left: 0;
}

.data {
  list-style: none;
  padding: 1.5px 15px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.game-user {}
.game-score {}

li:nth-child(odd) {
  background-color: rgb(93, 87, 87);
  color: blanchedalmond;
}

li:nth-child(even) {
  background-color: blanchedalmond;
  color: rgb(70, 69, 69);
}

.input-score {
  min-width: 250px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

input[type=text] {
  border: none;
  background-color: inherit;
  border-bottom: 1px solid rgba(238, 143, 143, 0.758);
}

::placeholder {
  color: rgba(141, 139, 234, 0.851);
  font-size: 0.9em;
  padding-left: 1px;
}

input[type=submit] {
  width: fit-content;
  height: min-content;
  align-self: flex-end;
  background: rgb(115, 213, 169);
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.805);
  margin-right: 3px;
  font-size: 0.9em;
  cursor: pointer;
}

input[type=submit]:hover {
  background: rgb(213, 115, 169);
}

input[type=submit]:active {
  background: rgb(213, 115, 169);
  box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.705);
  transform: translateY(4px);
}